<!DOCTYPE html>
<html lang="en">
<head>
  <title>MetroMap</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/typeaheadjs.css') }}">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{{ url_for('home') }}">MetroMap</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsexampledefault" aria-controls="navbarsexampledefault" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if city == 'moscow' %}
                Москва
              {% else %}
                Санкт-Петербург
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ url_for('city', city='moscow') }}">Москва</a>
              <a class="dropdown-item" href="{{ url_for('city', city='spb') }}">Санкт-Петербург</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <form action="./path">
{#            <div class="form-group">#}
{#              <label for="from">Выберите станцию отправления и назначения:</label>#}
{#              <input class="form-control typeahead" id="from" type="text" placeholder="Откуда" autocomplete="off">#}
{#              <input id="from_id" type="hidden" name="from" value="">#}
{#            </div>#}
{##}
{#            <div class="form-group">#}
{#              <input class="form-control typeahead" id="to" type="text" placeholder="Куда" autocomplete="off">#}
{#              <input id="to_id" type="hidden" name="to" value="">#}
{#            </div>#}

            <div class="form-group">
              <label>Выберите станцию отправления и назначения:</label>
              <input class="form-control typeahead" id="from" type="text" placeholder="Откуда" autocomplete="off">
              {% if frm %}
                <input id="from_id" type="hidden" name="from" value="{{ frm }}">
              {% else %}
                <input id="from_id" type="hidden" name="from" value="">
              {% endif %}
            </div>

            <div class="form-group">
              <input class="form-control typeahead" id="to" type="text" placeholder="Куда" autocomplete="off">
              {%  if to %}
                <input id="to_id" type="hidden" name="to" value="{{ to }}">
              {% else %}
                <input id="to_id" type="hidden" name="to" value="">
              {% endif %}
            </div>

            <div class="radio">
              <label><input type="radio" name="priority" value="time" {% if priority=='time' %}checked{% endif %}>&nbsp;Меньше времени</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="priority" value="less_transfers" {% if priority=='less_transfers' %}checked{% endif %}>&nbsp;Меньше пересадок</label>
            </div>

            <button type="submit" class="btn btn-primary">Отправить</button>
          </form>

        </ul>

        <ul class="nav nav-pills flex-column">
          {% if cost %}
            <label>Время &#8776; <b>{{ cost }} мин</b></label>
            <label>Количество пересадок:&nbsp;<b> {{ transfers }}</b></label>
            {% set vars = {'color': path[0].color} %}
          {% endif %}
          {% if frm and to and not path %}
            <label>Маршрут не найден!</label>
          {% endif %}
          {% for station in path %}
            <li class="nav-item">
              {% if vars.color != station.color %}
                &#128694; <b>Переход</b>
              {% endif %}
              {% if vars.update({'color': station.color}) %} {% endif %}
            </li>
            <li class="nav-item">
              <span style="background-color:{{ station.color }}" class="badge badge-secondary">{{ station.lineId }}</span>
              {{ station.name }}
            </li>
          {% endfor %}
        </ul>
      </nav>

      <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1>Карта</h1>
{#        <img src="{{ url_for('static', filename = 'data/moscow.svg') }}" alt="Карты">#}
        {% if city == 'moscow' %}
          <object id="graph" name="graph" type="image/svg+xml"
                  data="{{ url_for('static', filename = 'data/moscow.svg') }}" width="100%" height="100%"></object>
        {% else %}
          <object id="graph" name="graph" type="image/svg+xml"
                  data="{{ url_for('static', filename = 'data/spb.svg') }}" width="100%" height="100%"></object>
        {% endif %}
      </main>

    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename = 'js/jquery-slim.min.js') }}"><\/script>')</script>
  <script src="{{ url_for('static', filename = 'js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/typeahead.js') }}"></script>
  {% if city == 'moscow' %}
    <script src="{{ url_for('static', filename = 'js/moscow.js') }}"></script>
  {% else %}
    <script src="{{ url_for('static', filename = 'js/spb.js') }}"></script>
  {% endif %}
  <script>
    {% if frm and to and path %}
      $(document).ready(function() {
        $('#from').typeahead('val', '{{ path[0].name }}');
        $('#to').typeahead('val', '{{ path[-1].name }}');
      });
    {% endif %}
  </script>
</body>
</html>